 db_user: ${db_user}
 db_pass: ${db_pass}
 okta_url: ${okta_url}
 okta_client_id: ${okta_client_id}
 okta_secret: ${okta_secret}
 db_name: ${db_name}
 container_reg_usr: ${container_reg_usr}
 container_reg_pass: ${container_reg_pass}
 public_ip: ${public_ip}